 {% extends 'Base.html' %}
 {% load static %}
<!DOCTYPE html>
<html lang="cat">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GRUP EXCURSIONISTA ASSAMBLEARI</title>

  <!-- Bootstrap core CSS -->
<link href="{% static '/css/bootstrap.min.css' %}" link rel="stylesheet">
<script src="{% static '/jquery/jquery.min.js' %} "></script>
<script src = "{% static '/js/bootstrap.min.js' %}"></script>

  <!-- Custom styles for this template -->
  <link href="{% static '/css/blog-home.css' %}" rel="stylesheet">

</head>

<body>
       

       {% block contenido %}

       
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{% static '/images/Logo.png' %}" alt="Card image cap">
          <div class="card-body">

          <h1 class="my-4">ESTATUTS
          
          </h1>
            
            <p class="card-text">Estatuts de club esportiu de règim general.
<h2 class="my-4">Capítol primer: <small>Denominació, objecte i disposicions generals</small></h2>

<h2 class="my-4">Article 1</h2>
L'entitat G.E.A Molins (Grup Excursionista Assembleari Molins), constituïda en data 05 de Novembre de 2020, com a club esportiu de règim general, és una associació privada amb personalitat jurídica i capacitat d’obrar i d’actuar, sense ànim de lucre, format per persones físiques, els objectius bàsics del qual són el foment, el desenvolupament i la pràctica continuada de l’activitat física i esportiva a través d’una metodologia assembleària.  
Aquesta entitat esportiva es constitueix per temps indefinit i inicia les seves activitats en el moment de la seva constitució.

<h2 class="my-4">Article 2</h2>
El domicili social s’estableix a la localitat de Molins de Rei, carrer Major, núm. 13 3er pis, codi postal 08750, amb el número de telèfon 670517831, i amb l’adreça de correu electrònic geamolins@mailcat.cat .
En cas de modificació del domicili social s’haurà de comunicar al Registre d'entitats esportives de la Generalitat de Catalunya a l’efecte de la seva inscripció.

<h2 class="my-4">Article 3</h2>
L’entitat GEA Molins té com a objectiu la pràctica de les modalitats o disciplines esportives següents: 1.EXCURSIONISME/ Excursionisme esportiu, Alpinisme, Escalada, Marxa Nòrdica
2.CICLISME/ Ciclisme en carretera, BTT, Ciclocròs
3.CURSES D’ORIENTACIÓ / Orientació a peu, Raids d'aventura
4.ESPORTS DE NEU / Esquí Alpí, Esquí de Fons, Esquí de Muntanya.

Qualsevol persona que formi part de l’entitat podrà proposar la incorporació de noves modalitats o disciplines esportives per a la seva pràctica en el si de l’entitat, la qual cosa haurà de ser aprovada per l’assemblea general.
En cas d’incorporar la pràctica de noves modalitats o disciplines esportives s’haurà de comunicar al Registre d'entitats esportives de la Generalitat de Catalunya a l’efecte de la seva inscripció.

<h2 class="my-4">Article 4</h2>
L'àmbit principal d'actuació radica a Molins de Rei, però les activitats físiques i esportives no queden subjectes a un àmbit territorial determinat. 

<h2 class="my-4">Article 5</h2>
L'entitat es regeix per la Llei de l’esport i per les normes reglamentàries vigents en matèria esportiva que la despleguin en cada moment, com també pels presents estatuts i pels reglaments de desplegament aprovats vàlidament per l'assemblea general. 

<h2 class="my-4">Capítol segon: <small>De les sòcies i socis</small></h2>

<h2 class="my-4">Article 6</h2>
Són socis o sòcies de ple dret d’aquesta entitat esportiva les persones físiques majors de 18 anys que han sol·licitat l'admissió a la assemblea general i han estat acceptades per aquesta.
L'expedient d'ingrés d'un soci o sòcia consistirà en: 
sol·licitud d’admissió de la persona interessada, presentada mitjançant escrit a la junta directiva, la qual hauran de fer constar les seves dades personals. 
acord d’admissió o no de l’assemblea respecte del peticionari en la primera reunió que realitzi amb posterioritat a la sol·licitud. 
Per acord de l’assemblea general es poden incorporar noves classes de soci o sòcia, tot regulant les condicions que han de complir les persones per adquirir aquesta categoria i els seus drets i deures. Aquest acord s’haurà de comunicar al Registre d'entitats esportives de la Generalitat de Catalunya a l’efecte de la seva inscripció.
Menors de 16 anys: Les persones menors de 16 anys seran inscrits a la entitat com a soci vinculat al seus tutors legals, no seran socis de ple dret i hauran d’assistir acompanyats dels seu tutors a les activitats organitzades per la entitat.
Joves entre 16 i 18 anys: Els joves entre 16 i 18 anys podran ser membres de la entitat  i assistir de forma autònoma a les assemblees i activitats de la entitat complimentant la autorització emesa per la  mateixa entitat, signada per els seus tutors legals .  
Els socis i sòcies de ple dret tenen els drets següents:
Participar amb veu i vot a l'assemblea general.
Ser elector/a i elegibles per als càrrecs dels òrgans de govern de l'entitat, d’acord amb aquests estatuts.
Participar i gaudir de les activitats esportives, recreatives i culturals organitzades per l'entitat.
Impugnar els acords de l'assemblea general i de la junta directiva i proposar l'exercici de l'acció de responsabilitat contra els membres d’aquest òrgan de govern.
Les persones associades tenen el dret d'ésser informades de la marxa de l'associació i, en particular, el dret de:
Ésser informades de la identitat de les altres persones associades, del nombre d'altes i baixes i de l'estat de comptes, per a la qual cosa poden consultar els llibres de l'associació.
Ésser informades per la junta directiva, un cop convocada l'assemblea i amb l'antelació suficient, dels assumptes que s'hagi previst de tractar-hi, i rebre'n informació verbal durant la reunió.
Obtenir un exemplar dels estatuts vigents i dels reglaments de règim intern, si n'hi ha.
Són obligacions dels socis i sòcies de ple dret:
Abonar les quotes d'entrada, periòdiques, derrames o qualsevol altra que estableixin els òrgans de govern competents per a la seva classe de soci o sòcia.
Complir els estatuts de l'entitat, els reglaments interns i els acords dels òrgans de representació o de govern adoptats vàlidament en l'àmbit de les seves competències.
Contribuir al compliment de les activitats de l'entitat, tant esportives com de participació en els òrgans directius, consultius, o de govern, quan escaigui.
Facilitar un domicili per al lliurament de les comunicacions de l'entitat i notificar els canvis d'aquesta adreça.
La condició de soci o sòcia es perd:
Per voluntat pròpia comunicada formalment per escrit a la junta directiva.
Per sanció disciplinària, fruit d’infracció disciplinària prevista, acordada per la assemblea general, amb audiència prèvia a la persona interessada i la corresponent incoació d'expedient disciplinari.
Pel no pagament de les quotes establertes pels òrgans de govern competents, amb la instrucció d’un expedient contradictori que garanteixi el tràmit d’audiència del soci o de la sòcia.


<h2 class="my-4">Capítol tercer: <small>Òrgans de govern, de representació i d'administració</small></h2>
<h2 class="my-4">Article 7</h2>
Els òrgans de govern, gestió, administració i representació són:
L’assemblea general.
La junta directiva.

<h2 class="my-4">Article 8</h2>
L'assemblea general és l'òrgan suprem de govern de l’entitat i els seus acords són vinculants per a tots els socis i sòcies i per a la junta directiva.
Integren l'assemblea general tots els socis i sòcies de ple dret que no tinguin suspesa la condició de soci o sòcia en el moment de la convocatòria.
L'assemblea general té competència especial en les matèries següents:
Aprovar, si escau, la gestió de l'òrgan de govern, la liquidació de l'exercici vençut i el pressupost per a l'exercici econòmic següent.
Elegir i separar, mitjançant el vot de censura, els membres de l'òrgan de govern i controlar-ne l’activitat.
Modificar els estatuts.
Acordar la forma i l'import de les contribucions al finançament de l'associació o al pagament de les seves despeses, establint les quotes ordinàries i d'entrada i les quotes extraordinàries o derrames. 
Acordar la transformació, la fusió, l'escissió o la dissolució de l'associació.
Acordar l'ingrés i la baixa en federacions o confederacions.
Sol·licitar la declaració d'utilitat pública.
Aprovar el reglament de règim intern i les seves modificacions.
Resoldre sobre les qüestions que no estiguin expressament atribuïdes a cap altre òrgan de l'associació.
L'assemblea general pot ser ordinària o extraordinària. 
L’assemblea general ordinària s’ha de reunir, com a mínim, un cop l’any dins els 6 primers mesos de l’exercici econòmic per aprovar, si escau, les matèries citades en l’apartat a) del punt 3 d’aquest article.
L’assemblea general s’ha de reunir amb caràcter extraordinari en els casos següents:
Si la junta directiva ho considera convenient. 
Si ho sol·licita un 10% dels associats. En aquest supòsit l’assemblea s'ha de fer en el termini de trenta dies a comptar de la sol·licitud.

<h2 class="my-4">Article 9</h2>
L'assemblea és convocada per acord de l’ assemblea general mitjançant una convocatòria que ha de contenir, com a mínim, l'ordre del dia, el lloc, la data i l'hora de la reunió.
La convocatòria s'ha de comunicar quinze dies naturals a través dels mitjans de comunicació electrònics (missatgeria instantània) abans de la data de la reunió, dita comunicació es podrà dur a terme de individual i grupal. 
Les reunions de l'assemblea general les presideix el moderador/a que s'assigna a la mateixa reunió. Si no hi és, l'ha de substituir, qualsevol altre membre present a l’assemblea. Hi ha d'actuar com a secretari/ària qui ocupi el mateix càrrec a la junta directiva.
S’assigna una persona a la mateixa reunió que redacta l'acta de cada reunió, que han de signar conjuntament les persones assistents, amb un extracte de les deliberacions, el text dels acords adoptats, el resultat numèric de les votacions i la llista de les persones assistents.
Al començament de cada reunió de l'assemblea general es llegeix l'acta de la sessió anterior a fi que s'aprovi o s'esmeni. Cinc dies naturals abans, de tota manera, l'acta i qualsevol altra documentació ha d'estar a disposició dels socis i sòcies al local social de l’entitat.

<h2 class="my-4">Article 10</h2>
L'assemblea general es constitueix vàlidament sigui quin sigui el nombre de socis i sòcies de ple dret integrants d’aquesta. 
Els/les socis i sòcies de ple dret integrants de l’assemblea poden sol·licitar a la junta directiva la inclusió en l'ordre del dia d'un o més assumptes a tractar. En el cas que ja s'hagi convocat l'assemblea, poden fer-ho dins el primer terç del període comprès entre la recepció de la convocatòria i la data en què aquest òrgan s’ha de reunir. 
L’assemblea únicament pot adoptar acords respecte als punts inclosos en l'ordre del dia, llevat que s’hagi constituït amb caràcter universal o que els acords es refereixin a la convocatòria d’una nova assemblea general.

<h2 class="my-4">Article 11</h2>
Els socis i sòcies de ple dret integrants de l’assemblea han d’acreditar-se mitjançant un document públic d’acreditació de la personalitat per poder assistir a la reunió convocada i correspon un vot a cada membre.
Els acords es prenen per majoria simple de vots dels socis i sòcies presents, llevat d’aquelles qüestions per a les quals aquests estatuts estableixin una majoria qualificada.
Aquestes reunions es poden realitzar de forma telemàtica, per tal de que persones que no puguin assistir presencialment formin part de les votacions. 
<h2 class="my-4">Article 12</h2>
La junta directiva és l'òrgan de govern, gestió, administració i representació de l’entitat que té la funció de promoure, dirigir i executar les activitats esportives i les altres previstes estatutàriament, com també, gestionar el funcionament de l’entitat segons els acords de l’assemblea general i amb l’ajuda d’aquesta.
La junta directiva està formada per un nombre mínim de 3 membres.
Els càrrecs de la junta directiva són el de president o presidenta, el de secretari o secretària i el de tresorer o tresorera. A més dels càrrecs abans citats a la junta hi poden haver un, una o més vicepresident o vicepresidenta i els i les vocals que calguin. Cadascuna de les persones membres de la junta directiva ha d’ocupar un únic càrrec d’aquest òrgan de govern. 
L'adscripció dels càrrecs de junta directiva s'ha de fer entre les sòcies i socis que la integren, segons decisió de l’assemblea ordinària/extraordinària.
Els i les membres de la junta directiva tenen un mandat determinat per l’assemblea general revisable anualment. Tots els membres de l’entitat poden optar a formar part de la junta directiva i els càrrecs directius són reelegibles si les renovacions són totals.
A cada persona membre de la junta directiva li és d’aplicació l’estatut del directiu previst a la normativa esportiva d’aplicació vigent, per tant exerciran el càrrec de manera gratuïta. 

<h2 class="my-4">Article 13</h2>
El president o presidenta té la representació legal de l’entitat i en presideix els òrgans de l’entitat.
L’assemblea general decideix quina persona substitueix el president o la presidenta en cas d’absència.
El secretari o secretària ha d’encarregar-se de l’arxiu de la documentació, de redactar els documents que afectin la marxa administrativa de l’entitat i portar el llibre de registre de socis i sòcies i el llibre d’actes.
El tresorer o tresorera és la persona dipositària de l'entitat, li correspon signar els rebuts, autoritzar els pagaments i portar els llibres de comptabilitat, sense perjudici de les competències que puguin correspondre al president o presidenta i al secretari o secretària de l'entitat.

<h2 class="my-4">Article 14</h2>
La junta directiva ha de ser convocada pel president o presidenta, amb una antelació mínima de 2 dies al previst per a la reunió i, com a mínim, s'ha de realitzar una reunió per trimestre. Restarà vàlidament constituïda quan hi siguin presents la meitat dels membres que la componen.
Els acords de la junta directiva formaran part d’una assemblea general i s'han d'adoptar per majoria simple de les persones membres presents . En cas d’empat el vot de qui presideix és diriment.
Correspon a la persona designada estendre acta de les reunions de la junta directiva.
És competència de la junta directiva conjuntament amb l’assemblea general, de manera especial: 
L'admissió, suspensió o pèrdua de la qualitat de soci o sòcia.
La convocatòria de les assemblees.
La presentació a l'assemblea general de l'informe o la memòria sobre les activitats de l'entitat, de la liquidació de l'exercici econòmic amb el balanç i el compte de resultats, i el pressupost i la programació per a l'exercici següent.

<h2 class="my-4">Article 15</h2>
Les persones que han de compondre la junta directiva han de ser elegides, en reunió d’assemblea general, per majoria de vots mitjançant sufragi lliure, presencial, directe, igual i secret.
Són electores i elegibles les persones que siguin sòcies de ple dret, d’acord amb el que preveu l’article 8.2.

<h2 class="my-4">Article 16</h2>
La convocatòria d’eleccions correspon a la assemblea general. Aquesta convocatòria es durà a terme per acord de la junta directiva, tot tenint present que en aquest s’ha d’incloure el següent:
Determinar el dia en que es realitzarà l’acte públic per a la designació per sorteig dels membres de la junta electoral.
Fixar el termini d’exposició pública per a les persones associades del cens electoral, una vegada constituïda la junta electoral, per tal que es puguin formular les reclamacions als efectes d’esmena dins del termini establert.
Aprovar el calendari electoral fixant el dia de celebració de l’assemblea general, en el transcurs de la qual, es procedirà a l’acte de les votacions per a l’elecció de la junta directiva.  
Per a poder participar en les votacions, els socis s’hauran d’acreditar mitjançant el document d’identitat, de conduir o el passaport.

<h2 class="my-4">Article 17</h2>
La junta electoral és l’òrgan a qui correspon l’exercici de la potestat jurisdiccional esportiva en l’àmbit electoral i estarà formada per 3 membres, un dels qual en serà president o presidenta i un altre secretari o secretària.
Ha de resoldre les qüestions que puguin sorgir en el procés electoral de l’entitat dins els 2 dies hàbils següents a la presentació de la reclamació per part dels socis i sòcies de ple dret que l’hagin plantejat.
Les seves resolucions es poden recórrer, en el termini de 3 dies hàbils següents al de la notificació objecte de recurs o al d’aquell en què la reclamació s’entengui desestimada tàcitament perquè no s’ha dictat cap resolució expressa en el termini abans citat, davant de:
El comitè d’apel·lació de la federació esportiva catalana corresponent a l’esport principal de l’entitat si practica esport federat i està afiliada.
El Tribunal Català de l’Esport si l’entitat no practica esport federat i no està afiliada a cap federació esportiva catalana. 

<h2 class="my-4">Article 18</h2>
El cessament de les persones que componen la junta directiva es produeix, si és el cas, per les causes següents:
Acabament del mandat natural per al qual es van elegir.
Pèrdua de la condició de soci o sòcia de ple dret de l'entitat.
Mort, declaració d’absència o incapacitat que impedeixi l'exercici del càrrec.
Decisió disciplinària que inhabiliti la persona per ocupar algun càrrec dels òrgans de govern o representació de l'entitat.
Aprovació d'un vot de censura.
Per dimissió de l’interessat o interessada formalitzada per escrit.

<h2 class="my-4">Article 19</h2>
La suspensió del mandat de les persones que componen la junta directiva es produeix per les causes següents:
Sol·licitud de l'interessat o interessada quan hi concorrin circumstàncies que ho justifiquin i ho aprovi l’ assemblea general. 
Suspensió de la condició de soci o sòcia.
Temps que duri la instrucció d'un expedient disciplinari a una persona que en sigui component, si així ho acorda l’ assemblea general. 
Inhabilitació temporal, acordada per decisió disciplinària.
Article 20
En cas de vacant per cessament, llevat per acabament natural del mandat, o per suspensió del president o presidenta, es decidirà per assemblea qui la substituirà. 
Les vacants per cessament, llevat per acabament natural del mandat, o per suspensió de les persones que componen la junta directiva s'han de cobrir en la primera reunió de l'assemblea general que tingui lloc a l’entitat. Mentrestant, per acord de l’ assemblea general, es pot ocupar provisionalment el càrrec vacant per un soci o sòcia de ple dret de l’entitat.

<h2 class="my-4">Article 21</h2>
Per sol·licitar un vot de censura contra el president o presidenta de l'entitat, la totalitat de la junta, o qualsevol dels seus membres, ho ha de sol·licitar un mínim d’un 15% dels membres de ple dret de l’assemblea general.
La sol·licitud ha de presentar-se, degudament formalitzada pels socis i sòcies de ple dret de manera que permeti la seva identificació, davant la junta directiva. Aquest òrgan, a través del secretari o secretària, ha de lliurar als sol·licitants acusament de rebuda de la petició.
Un cop comprovada l'adequació de la sol·licitud per part de la junta directiva, si aquesta és correcta, aquest òrgan convocarà una assemblea general, d’acord amb el previst en aquests estatuts, a l’únic efecte de debatre i votar el vot de censura presentat.
Per tal que l’assemblea general convocada a l’únic efecte de debatre i votar el vot de censura sigui considerada vàlidament constituïda hi haurà d’haver una assistència mínima d'1/3 dels socis i sòcies de ple dret.
El vot de censura només el pot acordar la majoria dels 2/3 dels socis i sòcies assistents a l'assemblea.
Un cop acordat el vot de censura, el president o presidenta, la totalitat de la junta directiva o les persones membres a qui afecti cessaran automàticament.


<h2 class="my-4">Capítol quart: <small>Règim econòmic i documental</small></h2>

<h2 class="my-4">Article 22</h2>
L’entitat es sotmet al règim de pressupost i patrimoni propi, d’acord amb els principis de les entitats no lucratives.
Els recursos econòmics de l'entitat es nodreixen de:
Les quotes que fixa l'assemblea general per als seus socis i sòcies.
Les subvencions oficials o particulars.
Les donacions, les herències o els llegats.
Les rendes del patrimoni mateix o bé d'altres ingressos que es puguin obtenir.
L'exercici econòmic coincideix amb l'any natural i queda tancat el 31 de desembre.
En els comptes corrents o llibretes d'estalvis obertes en establiments de crèdit o d'estalvi, hi han de figurar les signatures del president/a, el tresorer/a i el secretari/ària.
Per poder disposar dels fons n'hi ha prou amb una firma d’un dels membres de la junta directiva.

<h2 class="my-4">Article 23</h2>
Integren el règim documental i comptable: 
El llibre d'actes.
El llibre de registre de socis i sòcies.
Els llibres de comptabilitat:
Llibre diari
Llibre d’inventaris
Llibre de comptes anuals
Quan l’entitat no estigui obligada a presentar la declaració de l’impost de societats, es podrà prescindir dels llibres de comptabilitat citats en el punt anterior, però s’haurà de portar un llibre de caixa en què es detallin els ingressos i les despeses.
El llibre d’actes i els llibres de comptabilitat, o en el seu defecte, el llibre de caixa, han d’estar degudament enquadernats i foliats i abans d’utilitzar-los hauran d’estar legalitzats pel Registre d'entitats esportives, mitjançant diligència.
Quan l’entitat redacti les actes o porti els llibres de manera informatitzada haurà de presentar-los per a la seva legalització mitjançant diligència dins els 4 mesos següents a la finalització del seu exercici econòmic.


<h2 class="my-4">Capítol cinquè: <small>Règim disciplinari</small></h2>

<h2 class="my-4">Article 24</h2>
El règim disciplinari de l’entitat s'estén a conèixer i decidir respecte de la jurisdicció esportiva i de les normes de conducta associativa.
La jurisdicció esportiva s’exerceix en tres àmbits: el disciplinari esportiu, el disciplinari competitiu, i l’electoral.
El règim disciplinari confereix als òrgans competents la possibilitat de conèixer, enjudiciar i, si escau, sancionar a tots els socis i sòcies de l’entitat, com també, als esportistes i al personal tècnic.

<h2 class="my-4">Article 25</h2>
L'exercici de la potestat disciplinària correspon:
Als jutges i jutgesses o els/les àrbitres, pel que fa a la jurisdicció esportiva en l’àmbit disciplinari i competitiu, durant el desenvolupament d'un joc, partit o competició de caire intern associatiu.
A la junta directiva i a l’ assemblea general, pel que fa a la jurisdicció esportiva en l’àmbit disciplinari i competitiu, com també respecte de les normes de conducta associativa.

<h2 class="my-4">Article 26</h2>
Contra els acords disciplinaris adoptats per la junta directiva, es pot interposar recurs davant:
El comitè d’apel·lació de la federació esportiva catalana corresponent a l’esport principal de l’entitat, si l’entitat practica esport federat i està afiliada, quan es tracti de sancions per infraccions contra la conducta esportiva, en el termini màxim de 10 dies hàbils següents a la notificació de l'acte impugnat.
El Tribunal Català de l’Esport, si l’entitat no practica esport federat i no està afiliada, quan es tracti de sancions per infraccions contra la conducta esportiva, en el termini màxim de 10 dies hàbils següents a la notificació de l'acte impugnat.
L'autoritat judicial, quan es tracti de sanció imposada per infracció de les normes de conducta associativa, en el termini de 40 dies següents a la notificació de l'acte impugnat.
Per mitjà de reglament de règim interior, proposat per la junta directiva i aprovat per l'assemblea general, s'estableix un règim tipificat de sancions, així com els procediments disciplinaris d'aplicació i de recursos, de conformitat amb la legalitat vigent. Subsidiàriament és d'aplicació el règim disciplinari previst en el Text únic de la Llei de l’esport, aprovat pel Decret legislatiu 1/2000, de 31 de juliol.


<h2 class="my-4">Capítol sisè: <small> Modificacions estructurals i liquidació</small></h2>

<h2 class="my-4">Article 27</h2>
Per a adoptar els acords de modificació estatutària, transformació, fusió, escissió i dissolució de l’entitat és necessari que en l’assemblea general convocada a l’efecte corresponent hi siguin presents, almenys, la meitat dels socis i sòcies de ple dret. Si es produeix aquest quòrum d’assistència, l’acord es pot prendre per majoria simple dels assistents.
Si no es dóna el quòrum d’assistència previst en el punt anterior, en primera convocatòria, en segona convocatòria es requereix, per adoptar l’acord, la majoria dels 2/3 dels assistents.
Una vegada pres qualsevol dels acords de modificació estructural o pres l’acord de dissolució, s’han de comunicar al Registre d'entitats esportives de la Generalitat de Catalunya a l’efecte de la seva inscripció, si escau.

<h2 class="my-4">Article 28 </h2>
Dissolta l'entitat, el romanent del seu patrimoni social, si n'hi ha, revertirà a la col·lectivitat, i a tal efecte s'haurà de comunicar aquesta dissolució a la Secretaria General de l'Esport, perquè acordi la destinació dels béns per al foment i desenvolupament de les activitats fisicoesportives. 
      
            </p>

          </div>
        </div>

  



       {% endblock contenido %}

</body>

</html>