 {% extends 'BaseSeccion.html' %}
 {% load static %}
 
<!DOCTYPE html>
<html lang="cat">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GRUP EXCURSIONISTA GEA </title>
  

  <!-- Bootstrap core CSS -->
<link href="{% static '/css/bootstrap.min.css' %}" link rel="stylesheet">
<script src="{% static '/jquery/jquery.min.js' %} "></script>
<script src = "{% static '/js/bootstrap.min.js' %}"></script>

  <!-- Custom styles for this template -->
  <link href="{% static '/css/blog-home.css' %}" rel="stylesheet">
  <!--SOCIAL ICONS--><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--SOCIAL ICONS-->

</head>

<body>

      {% block Section1 %}        
          <div id="section1" class="container-fluid">
            <h1>FARIGOLEROS 1</h1>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
          </div>
      {% endblock Section1 %}

      {% block Section2 %} 
          <div id="section2" class="container-fluid">
            <h1>FARIGOLEROS 2</h1>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
          </div>
      {% endblock Section2 %}

      {% block Section3 %} 
          <div id="section3" class="container-fluid">
            <h1>FARIGOLEROS 3</h1>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
          </div>
      {% endblock Section3 %}

      {% block Section41 %} 
          <div id="section41" class="container-fluid">
            <h1>FARIGOLEROS 4 Submenu 1</h1>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
          </div>
      {% endblock Section41 %}

      {% block Section42 %} 
          <div id="section42" class="container-fluid">
            <h1>Section 4 Submenu 2</h1>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
          </div>
      {% endblock Section42 %}


</body>

</html>
